* {
    margin: 0;
}


nav {
    position: absolute;
    z-index: 2;
    width: 100%;
}

nav .main_nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.clicked {
    display: flex;
    flex-direction: column;
    padding: 100px 0;
    background-color: black;
}

.hamburger {
    display: none;
}

.nav_btn {
    color: white;
    background-color: transparent;
    border: none;
}

button {
    cursor: pointer;
}

.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)), url("https://www.spitiholidayadventure.com/storage/5bc7123c9f862.jpg");
    height: 500px;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    text-align: center;
    padding-top: 100px;
}

/* .banner div{
    height: 100%;
    border: 1px solid red;
} */
.banner h1 {
    color: white;
    font-size: 50px;
    font-weight: 400;
    margin-top: 150px;
}

.banner p {
    color: white;
    font-size: 20px;
    font-weight: 400;
}

.form {
    background-color: white;
    border: 1px solid white;
    color: black;
    border-radius: 10px;
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 20px;

}

.form div {
    width: 100%;
}

.form_btn_div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form_btn_div p {
    color: gray;
    font-size: small;
}

.form div input {
    height: 20px;
    padding: 5px;
    width: 95%;
    border: 1px solid grey;
}

.form div>select {
    width: 100%;
    height: 37px;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 5px;
}

.form button {
    background-color: black;
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    width: 100%;
}

.two_input {
    display: flex;
    gap: 4px;

}

.deals {
    display: flex;
    width: 80%;
    margin: auto;
    gap: 30px;
    margin-bottom: 100px;
}

.deals div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.deals div img {
    width: 100px;
}

.packages_container {
    text-align: center;
    margin: auto;
    margin-bottom: 40px
}

.package_header {
    margin-bottom: 50px;
}

.packages {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.single {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px;
    border-radius: 20px;
    background-color: black;
    color: white;
    height: fit-content;
}

.image_div {
    height: 50%;
}

.img_div img {
    width: 100%;
    border-radius: 10px;
    height: 100%;
}

.info_div {
    text-align: left;
    padding: 10px 4px;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.logos {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.logos div>img {
    width: 30px;
}

.btn_div {
    margin-top: 20px;
    font-style: normal;
    font-family: sans-serif;
    font-size: small;
    display: flex;
    margin: auto;
    border: 1px solid white;
    border-radius: 15px;
    width: 90%;
    justify-content: center;
    align-items: center;
    height: 35px;
}

.btn_div div {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.btn_div div button {
    border-radius: 15px;
    border: none;
    width: 100%;
    height: 100%;
}

.video_parent_container {
    padding: 20px 0;
    background-color: aqua;
    text-align: center;
    margin: auto;
    margin-bottom: 40px
}

.video_parent_container h1 {
    color: blue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    margin-bottom: 20px;
}

.video_container {
    width: 90%;
    margin: auto;
    display: flex;
    gap: 20px;
    justify-content: space-around;
}

.video_container div {
    width: 20%;
    border-radius: 5px;
}

.video_container div video {
    width: 100%;
    border-radius: 5px;
}

.destination_parent_container {
    background-color: rgb(216, 209, 209);
    padding: 10px 0;
    text-align: center;
    margin: auto;
    margin-bottom: 40px
}

.destination_parent_container h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900;
    font-size: 35px;
}

.destination_container {
    width: 80%;
    margin: auto;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

.destination_container div {
    width: 30%;
    border-radius: 10px;
}

.destination_container div img {
    width: 100%;
    border-radius: 10px;
}

.pp {
    color: orange;
    font-weight: bolder;
    font-size: large;
    margin-top: 5px;
}

.query {
    padding: 30px;
}

/* .query>div p {
    font-size: small;
} */

.query>div {
    padding: 10px 0;
}

.select_div {
    box-shadow: rgba(189, 10, 10, 0.24) 0px 3px 8px;
    border-radius: 15px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.select_div details summary {
    border: none;
    height: 40px;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
}

.select_div p {
    font-size: large;
}

.select_div details:hover {
    background-color: black;
    color: white;
}

.award_banner {
    background-color: rgb(5, 5, 71);
    color: white;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    text-align: center;
    align-items: center;
    padding: 20px;
}

.award_banner>div {
    width: 50%;
}

.award_img_div {
    width: 80%;
}

.award_img_div img {
    width: 100%;
}

.custom_package {
    padding: 20px 10px;
    background: linear-gradient(to right, rgb(219, 154, 32), rgb(14, 14, 75));
    display: flex;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: white
}

.custom_package h1 {
    font-weight: 300;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.custom_package div button {
    color: white;
    background-color: orange;
    padding: 10px;
    font-weight: bold;
    font-size: small;
    border-radius: 20px;
    border: none;
}

.testimonial_container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)), url("https://cdn.pixabay.com/photo/2016/03/04/19/36/beach-1236581_640.jpg");
    height: 400px;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px;
}

.person_img_div .person img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.person_img_div .person p {
    margin: auto;
    width: 50%;
    font-size: small;
}


.testimonial_five_star {
    display: flex;
    width: 100px;
    margin: auto;
}

.testimonial_five_star div {
    width: 20px;
}

.insta {
    text-align: center;
    padding-top: 20px;
}

/* .insta>div{
    height: 80px;
} */
.insta h1 {
    color: #002D62;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.insta_pages {
    width: 75%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding-bottom: 10px;
}

.page {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.head {
    display: flex;
    align-items: center;
    padding: 5px;
    justify-content: space-between;
}

.user {
    display: flex;
    align-items: center;
    gap: 5px;
}

/* .head>div{
    width: 60%;
} */
.head div img {
    border-radius: 100%;
    width: 70px;
    height: 70px;
    border: 2px solid red;
}

.head div button {
    background-color: skyblue;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 4px;
}

.image img {
    width: 100%;
    height: 300px;
}

.comment {
    display: flex;
    justify-content: space-between;
}

.comment .first {
    display: flex;
    width: 70%;
}

.comment .second {
    width: 30%;
}

.comment .first div {
    width: 30px;
}

.comment .second div {
    margin: auto;
    align-items: center;
    width: 30px;
}

.likes {
    padding: 8px;
    text-align: left;
    font-weight: bolder;
}

.last_plan {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.img_h2 {
    border: 1px solid grey;
    padding: 10px;
}

.last_plan .img {
    width: 50px;
    margin: auto;
}

.h2_p {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

.h2_p h2 {
    color: blue;
}

.h2_p p {
    color: grey;
}

footer {
    padding: 20px;
    background-color: rgb(187, 187, 207);
}

.first_footer {
    display: flex;
    justify-content: space-around;
}

.first_div_footer {
    display: flex;
    justify-content: space-between;
    width: 30%;
}

.svg {
    text-align: center;
}

.svg svg {
    width: 50px;
    margin: auto;
}

.second_div_footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 20px;
    border-left: 1px dashed black;
}

form input,
button {
    border-radius: 5px;
    padding: 10px;
    border: none;
}

form button {
    background-color: blue;
    color: white;
}

.second_footer {
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    padding-top: 20px;
    gap: 10px;
}

.approved {
    margin-top: 5px;
    
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.approved > div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.approved >div  div{
    width: 60px;
}

.approved div img {
    width: 100%;
    border-radius: 100%;
}


.confused {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #002D62;
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: white
}

.confused_text {
    height: 100%
}

.confused_text h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 200
}

.confused_btn {
    height: 100%;
}

.confused_btn button {
    width: 100%;
    height: 100%;
    background-color: white;
    border: none;
}

@media screen and (min-width:500px) and (max-width:800px) {
    .banner h1 {
        font-size: 40px;
    }

    .banner p {
        font-size: 15px;
    }

    .packages_container {
        text-align: center;
        margin: auto;
        margin-bottom: 40px
    }

    .package_header h1 {
        font-size: 30px;
    }

    .packages {
        width: 80%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    .video_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .video_container div {
        width: 100%;
    }

    .destination_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .destination_container div {
        width: 100%;
    }
   
    .insta_pages {
        width: 90%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }


    .first_footer {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .first_div_footer {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .second_div_footer {
        padding-top: 20px;
        border-left: none;
        text-align: center;
    }

    .second_div_footer div p {
        font-size: larger;
    }

    .second_div_footer form {
        border: 1px solid white;
        padding: 30px 10px;
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        gap: 20px;
    }

    .second_footer {
        width: 100%;
        /* margin: auto; */
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding-top: 20px;
        gap: 10px;
        align-items: center;
        text-align: center;
    }

    .second_foot_img img {
        max-width: 100%;
    }
   
    

}

@media screen and (max-width:500px) {
  
    .award_banner>div h1 {
        font-size: 18px;
    }

    .award_banner>div p {
        font-size: 12px;
    }

    .testimonial_container h1 {
        font-size: 18px;
    }

    .testimonial_container p {
        font-size: 12px;
    }

    .person_img_div>.person p {
        font-size: 10px;
    }

    .person_img_div .pp {
        font-size: 12px;
    }

    .package_header h1 {
        font-size: 18px;
    }

    .confused_text h1 {
        font-size: 15px;
    }

    .video_parent_container h1 {
        font-size: 15px;
    }

    .destination_parent_container h1 {
        font-size: 15px;
    }

    .query {
        padding: 30px;
    }

    
    .query>div p {
        font-size: 10px;
    }

    .query>div h1 {
        font-size: 14px;
    }

    .query>div {
        padding: 0;
    }

    .select_div {
        box-shadow: rgba(189, 10, 10, 0.24) 0px 3px 8px;
        border-radius: 15px;
        padding: 10px 20px;
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }

    .select_div details summary {
        border: none;
        height: 40px;
        font-size: 15px;
        font-weight: lighter;
        cursor: pointer;
    }

    .select_div p {
        font-size: 12px;
    }

    nav .main_nav {
        display: none;
    }

    .hamburger {
        display: grid;
        width: 50px;
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: white;
    }

    /* .hamburger img {
        width: 100px;
    } */

    .deals {
        display: none;
    }

    nav img {
        display: none;
    }

    .banner {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        text-align: center;
        padding-top: 70px;
        height: fit-content;
    }

    .banner div {
        width: 90%;
        margin: auto;
    }

    .banner h1 {
        font-size: 22px;
        font-weight: 400;
        margin-top: 20px;
    }

    .banner p {
        font-size: 12px;
    }

    .form {
        width: 100%;
        padding: 20px 4px;
    }
    

    .person_img_div .person p {
        width: 90%;
        font-size: small;
    }

    .packages {
        width: 80%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }

    .insta_pages {
        width: 80%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        padding-bottom: 10px;
    }

    .award_banner {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .award_banner>div {
        /* margin: auto; */
        width: 100%;
    }

    .award_img_div {
        margin: auto;
        width: 80%;
    }

    .award_img_div img {
        width: 100%;
    }

    .testimonial_container {
        padding: 0;
        height: fit-content;
    }

    .testimonial_container .person img {
        width: 30%;
        height: 30%;
    }

    .testimonial_container>div {
        width: 100%;
    }

    /* .testimonial_five_star{
        width: 50%;
    }
    .testimonial_five_star div{
        width: 20%;
    } */
    .insta > div h1{
        font-size: 18px;
    }

    .insta_pages {
        padding: 0;
    }

    .page {
        max-width: 100%;
        width: fit-content;
    }

    .custom_package {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }

    .custom_package h1 {
        font-size: 20px;
    }

    .query {
        padding: 0;
    }

    .first_footer {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .first_div_footer {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .second_div_footer {
        padding-top: 20px;
        border-left: none;
        text-align: center;
    }

    .second_div_footer div p {
        font-size: larger;
    }

    .second_div_footer form {
        border: 1px solid white;
        padding: 30px 10px;
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        gap: 20px;
    }

   .confused{
    display: grid;
    grid-template-columns: repeat(1,1fr);
   }

    .confused_text h1 {
        font-size: 15px;
    }

    .confused_btn {
        height: 50px;
    }

    .confused_btn button {
        width: 50%;
        height: 100%;
        background-color: white;
        border: none;
        font-size: 12px;
    }

    .second_footer {
        width: 100%;
        /* margin: auto; */
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding-top: 20px;
        gap: 10px;
        align-items: center;
        text-align: center;
    }

    .second_foot_img img {
        max-width: 100%;
    }

    .video_container {
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .video_container div {
        width: 80%;
        margin: auto;
    }

    .destination_container {
        width: 80%;
        margin: auto;
        padding-top: 20px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .destination_container div {
        width: 80%;
        margin: auto;
    }

    .destination_parent_container {
        max-width: 100%;
    }

    .destination_parent_container h1 {
        width: 100%;
        font-size: 30px;
    }

    .destination_parent_container span {
        width: 100%;
    }

    .last_plan {
        width: 80%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}



@media screen and (max-width:300px) {
    
    .insta_pages {
        width: 100%;
    }

    footer {
        padding: 0;
    }

    .first_footer {
        width: 100%;
    }

    .first_div_footer {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin: auto;
    }

    .first_div_footer .svg {
        width: 100%;
    }

    .destination_parent_container h1 {
        font-size: 10px;
    }

    .second_div_footer {
        padding-left: 0;
        padding-bottom: 10px;
    }

    .second_div_footer form {
        width: 90%;
        margin: auto;
        align-items: center;
        padding: 10px 0;
    }
    .second_div_footer form input{
        width: 80%;
        padding: 5px;
    }
    .second_footer {
        padding: 0;
        width: 100%;
    }

    .second_footer .second_foot_img {
        width: fit-content;
    }

    .second_footer div {
        width: 100%;
    }

    .second_footer .second_foot_img img {
        width: 80%;
    }
    .approved > div {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
    }

    .select_div {
        box-shadow: rgba(189, 10, 10, 0.24) 0px 3px 8px;
        border-radius: 15px;
        padding: 10px 20px;
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }

    .select_div details summary {
        border: none;
        height: 40px;
        font-size: 12px;
        font-weight: bold;
        cursor: pointer;
    }

    .select_div p {
        font-size: 10px;
    }

}